{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{ page_title }}{% endblock page_title %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{ page_title }}</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="auditTable" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>object_id</th>
                                        <th>object_repr</th>
                                        <th>action</th>
                                        <th>changes</th>
                                        <th>actor_id</th>
                                        <th>content_type_id</th>
                                        <th>remote_addr</th>
                                        <th>timestamp</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for audit_entry in audit_log %}
                                    <tr>
                                        <td style="white-space: nowrap;">{{ audit_entry.object_id }}</td>
                                        <td style="white-space: nowrap;">{{ audit_entry.object_repr }}</td>
                                        <td style="white-space: nowrap;">{{ audit_entry.action }}</td>
                                        <td class="changes-cell" style="white-space: nowrap;">{{ audit_entry.changes|safe }}</td>
                                        <td style="white-space: nowrap;">{{ audit_entry.actor_id }}</td>
                                        <td style="white-space: nowrap;">{{ audit_entry.content_type_id }}</td>
                                        <td style="white-space: nowrap;">{{ audit_entry.remote_addr }}</td>
                                        <td style="white-space: nowrap;">{{ audit_entry.timestamp }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
{% block custom_js %}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
        var changesCells = document.querySelectorAll('.changes-cell');

        changesCells.forEach(function(cell) {
            var changesData = JSON.parse(cell.textContent);

            var subTable = '<table class="sub-table">';
            subTable += '<thead><tr><th>entity_changed</th><th>before</th><th>after</th></tr></thead>';
            subTable += '<tbody>';

            for (var key in changesData) {
                subTable += '<tr>';
                subTable += '<td>' + key + '</td>';
                subTable += '<td>' + changesData[key][0] + '</td>';
                subTable += '<td>' + changesData[key][1] + '</td>';
                subTable += '</tr>';
            }

            subTable += '</tbody></table>';

            cell.innerHTML = subTable;
        });
    });
  </script>
{% endblock custom_js %}
